body{

background:linear-gradient(135deg,#667eea,#764ba2);

font-family:Arial;

color:white;

}


.glass{

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

border-radius:20px;

padding:30px;

margin:50px auto;

width:80%;

box-shadow:0 8px 32px #000;

}


input,select,textarea{

width:90%;

padding:12px;

border-radius:10px;

border:none;

margin:10px;

}


button{

padding:12px 30px;

border:none;

border-radius:20px;

background:white;

color:#764ba2;

font-weight:bold;

}



.logo{

font-size:60px;

animation:spin 3s infinite;

}


@keyframes spin{

50%{

transform:rotate(360deg);

}

}